/*----------------------------------------Head------------------------------------------------*/
*
{
   font-family : 'Raleway', sans-serif; 

}



/* ---------------------------------------Body--------------------------------------------*/
#bloc_page
{
    background-color: #FFFFFF;
    margin: 15px;
    margin-left: 30px;
}

.dimention
{


}



/*-----------------------------------------Header----------------------------------------------*/

.Baniere
{
    display: flex;
    align-items: center;
    max-width: 1440px;
    
}


.IMG-logo
{
    height: 40px;
    padding: 1em;
    margin-right: 660px;
}

a 
{
    color: gray;
    text-decoration: none;
    /* padding: 1em; */
    
}

a:hover
{
    color: #0065FC;
}

.NAV1
{
  
    display: flex;
    align-items: center;
}





@media screen and (max-width:768px)
{
    .IMG-logo
    {
        margin-right: 40px;

    }
    .NAV1
    {
        order: 3;
    }

    .Nav-Inscription 
    {
        order: 2;
    }
    .Baniere 
    {
        flex-wrap: wrap;

    }
   
}

.Nav-Hebergement
{
    padding: 2rem;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid
    
}

.Nav-Hebergement:hover
{
    
    border-top: 3px #0065FC solid;
    
}



.Nav-Inscription
{
    color: #0065FC;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2rem;

}

.trouve
{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 35px;
}


/*----------------------------------------Recherche--------------------------------------------*/


.Recherche button
{
    /* font: bold; */
}

.Info i 
{
    float: left; 
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 15px 0px 0px 15px;
    width: 45px;
    height: 45px;
    color:black;
    

}

.Recherche input 
{
    height: 3.4em;
    border-left: 0em;
    border-color: rgba(128, 128, 128, 0.151);
    
}

.Bouton
{
    color: #FFFFFF;
    background-color: #0065FC;
    width: 130px;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
    height: 45px;
    cursor: pointer;
    display: inline-block;
    border: 0;


}

.filtre
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.Titre-filtre
{
    margin-right: 20px;
}


.F
{
    height: 50px;
    margin: 20px 20px 20px 0;
    padding-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;

}

.F i 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #0065FC;
    margin-right: 10px;
}

.Text-info
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.Text-info i
{  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color:#0065FC;
    margin-right: 10px;
 
}
/* -----------------------------------Section Herbergements--------------------------------- */

.HEBERG
{
    display: flex; 
    flex-wrap: wrap;
}


.hebergement
{
    background-color:  #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    width: 735px; 
    /* height: 1600px; */
    /* float: left; */
    display: flex; 
    flex-wrap: wrap;
    margin: 0px 40px 20px 0px;
 
}

.colorB
{
    color: #0065FC;
 font-size: 12px;   


}

.colorG
{
    color: #F2F2F2;
 font-size: 12px;   


}

.H
{
    width: 81%;
    padding-left: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
}
 
.A
{
    width: 81%;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}



.image4
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image5
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image6
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image7
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image8
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
    
}

.image9
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.etoile-H
{
    position: absolute;
    margin: 110px 0px 0px 25px;
}

.etoile-H p
{
    font-size: 0.85em;
    margin-bottom: 2px;

}


@media screen and (max-width:768px)
{

    .image4 
    {
        height: 100px;
        width: 300px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 6px 6px 60px 6px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }

    .image5 
    {
        height: 100px;
        width: 300px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 6px 6px 60px 6px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    .image6
    {
        height: 100px;
        width: 300px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 6px 6px 60px 6px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }

    .image7
    {
        height: 100px;
        width: 300px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 6px 6px 60px 6px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }

    .image8 
    {
        height: 100px;
        width: 300px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 6px 6px 60px 6px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    .image9
    {
        height: 100px;
        width: 300px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 6px 6px 60px 6px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
}


/* -----------------------------------Section Populaire--------------------------------- */



#populaire

{ 
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    width: 310px; 
    height: 443px;     
}



.LPP
{
    margin-right: 100px;
     margin-bottom: 20px;
     margin-top: 1px;
    float: left;
}


.image2
{
    height: 100px; 
    width: 100px;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 200px 6px 6px;
    box-shadow: 1px 2px 6px rgb(160, 160, 160);
    object-fit: cover;
}

.image3
{
   height: 100px; 
   width: 100px;
   margin-bottom: 20px;
   border-radius: 20px 20px 20px 20px;
   background-color: #FFFFFF;
   padding: 6px 200PX 6px 6px;
   box-shadow: 1px 2px 6px rgb(190, 190, 190);
   object-fit: cover;
}


.image1
{
    
    height: 100px;
    width: 100px;
   margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 200px 6px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;    
}

.etoiles1
{
    margin: 15px 0px 0px 120px;
    float: right;
    text-align: justify;
    position: absolute;

}

.etoiles p
{
    margin-top: 7px;
    font-size: 14px;
    margin-bottom: 30px;
}

.etoiles1 p
{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 30px;
}


.etoiles
{
    margin: 0px 10px 0px 120px;

    float: right;
    text-align: justify;
    position: absolute;

}

.etoiles i
{
 margin: 0px 0px 0px 0px;

}




/* -----------------------------------Section Activites------------------------------------- */
.ActiviteMarseille
{
    display: flex; 
    flex-wrap: wrap;

}

.Activites
{
    
    background-color: #FFFFFF;
    /* padding: 20px; */
    border-radius: 20px;
    width: 1200px; 
    /* height: 1600px; */
    /* float: left; */
    display: flex; 
    flex-wrap: wrap;
    margin: 0px 50px 20px 0px;
     
}

.AC
{

    width: 90%;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 1px;
}


.intituler10
{
position: absolute;
margin: 345px 0px 0px 25px;
}

.intituler11
{
position: absolute;
margin: 160px 0px 0px 25px;
}
.intituler12
{
position: absolute;
margin: 110px 0px 0px 25px;
}
.intituler13
{
position: absolute;
margin: 345px 0px 0px 25px;
}

.intituler14
{
position: absolute;
margin: 160px 0px 0px 25px;
}
.intituler15
{
position: absolute;
margin: 110px 0px 0px 25px;
}
.image10
{
    height: 335px;
    width: 260px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image11
{
    height: 150px;
    width: 260px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image12
{
    height: 100px;
    width: 260px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image13
{
    height: 335px;
    width: 260px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image14
{
    height: 150px;
    width: 260px;
    margin: 15px;
    margin-right: 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image15
{
    height: 100px;
    width: 260px;
    margin: 15px;
    margin-right: 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

@media screen and (max-width:768px)
{





}

/* ------------------------------------Footer------------------------------------------------ */

.Footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.Inti1
{
    padding-left: 20px;

}


.Inti
{
    padding-left: 200px;

}

.Footer p
{
    font-size: 0.8em;

}

@media screen and (max-width:768px)
{

    .Inti
    {
        padding-left: 20px;
        width: 80%;
    }
    .Footer
    {
        width: 300px;
        height: 500px;
        padding-right:0px;
    }


}






/*----------------END---------------*/