/*----------------------------------------Head------------------------------------------------*/
*
{
   font-family : 'Raleway', sans-serif; 

}



/* ---------------------------------------Body--------------------------------------------*/
#bloc_page
{
    background-color: #FFFFFF;
    margin: 15px;

}



/*-----------------------------------------Header----------------------------------------------*/

.Baniere
{
    display: flex;
    align-items: center;
    max-width: 1440px;
    
}


.IMG-logo
{
    height: 40px;
    padding: 1em;
    margin-right: 400px;
}

a 
{
    color: black;
    text-decoration: none;
    padding: 1em;
    
}

.NAV1
{
  
    display: flex;
    align-items: center;
}

@media screen and (max-width:768px)
{
    .IMG-logo
    {
        margin-right: 40px;

    }
    .NAV1
    {
        order: 3;
    }

    .Nav-Inscription 
    {
        order: 2;
    }
    .Baniere 
    {
        flex-wrap: wrap;

    }
   
}

.Nav-Hebergement
{
    padding: 2rem;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid
    
}

.Nav-Inscription
{
    color: #0065FC;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2rem;

}

.p
{
    margin-bottom: 20px;
    margin-top: 20px;
}


/*----------------------------------------Filtres--------------------------------------------*/


/*----------------------------------------Recherche--------------------------------------------*/



.Info
{
    float: left; 
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
    border-radius: 10px 0px 0px 10px;
    padding: 10px 0px 0px 10px;
    color: black

}

.Recherche input 
{
    height: 3em;
    border-left: 0em;
    border-color: rgba(128, 128, 128, 0.151);

}

.Bouton
{
    color: #FFFFFF;
    background-color: #0065FC;
    width: 100px;
    border-radius: 0px 10px 10px 0px;
    padding: 0px 0px 0px 15px;
    font-size: 0.5em;
    display: inline-block;
}

.filtre
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.Titre-filtre
{
    margin-right: 20px;

}

.h3
{
    display: block;
    font-size: 0.7em;
   font-weight: bold;

}

.F
{
    height: 50px;
    margin: 10px 20px 10px 0;
    padding-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;

}

.F i 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #0065FC;
    margin-right: 10px;
}




/* -----------------------------------Section Populaire--------------------------------- */
#populaire

{ 
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 10px;
    width: 450px;      
}


.image2
{
    height: 150px; 
    width: 150px;
    margin: 15px;   
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 250px 6px 6px;
    box-shadow: 1px 2px 6px rgb(160, 160, 160);
    
}

.image3
{
   height: 150px; 
   width: 150px;
   margin: 15px;
   border-radius: 20px 20px 20px 20px;
   background-color: #FFFFFF;
   padding: 6px 250PX 6px 6px;
   box-shadow: 1px 2px 6px rgb(190, 190, 190);
}


.image1
{
    
    height: 150px;
    width: 150px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 250px 6px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
        
}



.etoiles
{
    
    float: right;
    text-align: justify;
    position: absolute;

}

/* -----------------------------------Section Herbergements--------------------------------- */





/* -----------------------------------Section Activites------------------------------------- */





/* ------------------------------------Footer------------------------------------------------ */






