/*----------------------------------------Head------------------------------------------------*/
*
{
   font-family : 'Raleway', sans-serif; 

}



/* ---------------------------------------Body--------------------------------------------*/
#bloc_page
{
    background-color: #FFFFFF;
    margin: 15px;
    margin-left: 30px;
  
}

.dimention
{
    display: flex;

} 




/*-----------------------------------------Header----------------------------------------------*/

.Baniere
{
    display: flex;
    align-items: center;
    max-width: 1440px;
    
}


.IMG-logo
{
    height: 40px;
    padding: 1em;
    margin-right: 450px;
}

a 
{
    color: gray;
    text-decoration: none;
    
}

a:hover
{
    color: #0065FC;
}

.NAV1
{
  
    display: flex;
    align-items: center;
}

.Nav-Hebergement
{
    padding: 2rem;
    padding-right: 5rem;
    padding-left: 6rem;
    text-align: center;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid
    
}

.Nav-Hebergement:hover
{
    
    border-top: 3px #0065FC solid;
    
}



.Nav-Inscription
{
    color: #0065FC;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2rem;

}

.trouve
{
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 35px;
}


@media screen and (max-width:768px)
{
    .Baniere
    {
        
        max-width: 768px;
        
    }
    
     .Nav-Hebergement
     {
        padding-right: 4rem;
        padding-left: 4rem;
     }


        .Nav-Hebergement:hover
    {
        border-top:none;
        border-bottom: 3px #0065FC solid;
    }

    .IMG-logo
    {
        margin-right: 435px;
        height: 60px;
    }
    .NAV1
    {
        order: 3;
    }

    .Nav-Inscription 
    {
        order: 2;
    }

    .Baniere 
    {
        flex-wrap: wrap;

    }

    a 
    {
       font-size: 1.5em;    
    }

    .trouve
    {
        font-size: 1.3em;
        margin-top: 10px;
        margin-bottom: 35px;
        width: 100%;
    }

}





/*----------------------------------------Recherche--------------------------------------------*/




.Info i 
{
    float: left; 
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 15px 0px 0px 15px;
    width: 45px;
    height: 45px;
    color:black;
    

}

.Recherche input 
{
    height: 3.4em;
    border-left: 0em;
    border-color: rgba(128, 128, 128, 0.151);
    
}

.Bouton
{
    color: #FFFFFF;
    background-color: #0065FC;
    width: 130px;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
    height: 45px;
    cursor: pointer;
    display: inline-block;
    border: 0;
    /* position: absolute; */

}

.Bouton2
{
    color:transparent;
    
}


.filtre
{
    align-items: center;
    display: flex;
    flex-wrap: wrap;

}

.Titre-filtre
{
    margin-right: 20px;
}


.F
{
    height: 50px;
    margin: 20px 20px 20px 0;
    padding-right: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    display: flex;
    align-items: center;

}

.F i 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: #0065FC;
    margin-right: 10px;
}

.TextInfo
{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.TextInfo i
{  
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color:#0065FC;
    margin-right: 10px;
 
}


.Eco:hover
{
    color:#0065FC;
    font-style: italic;
}
.Fam:hover
{
    color:#0065FC;
    font-style: italic;
}
.Rom:hover
{
    color:#0065FC;
    font-style: italic;
}
.Ani:hover
{
    color:#0065FC;
    font-style: italic;
}
@media screen and (max-width:768px)
{
    .filtre
    {
        width: 700px;
    
    }

    .F
    {
        height: 50px;
        margin: 20px 100px 20px 0;
        padding-right: 20px;
        border: 2px solid #f2f2f2;
        border-radius: 50px;
        display: flex;
        align-items: center;
    
    }
    .Titre-filtre 
    {
        margin-right: 500px;
    }

    .Info i 
    {
        float: left; 
        display: flex;   
        justify-content: center;
        align-items: center;
        background-color: #DEEBFF;
        border-radius: 15px 0px 0px 15px;
        width: 60px;
        height: 60px;
        color:black;
        
    
    }


    .Recherche input 
    {
        height: 4.5em;
        width: 18em;
        border-left: 0em;
        border-color: rgba(128, 128, 128, 0.151);
        
    }
     

     .Bouton 
     {
            color: transparent;
            background-color: #0065fc;
            width: 20px;
            border-radius: 0px 15px 15px 0px;
            align-items: center;
            height: 60px;
            cursor: pointer;
            display: inline-block;
            border: 0;
            position: absolute;
            
    }

    .Bouton2
    {
        color: #FFFFFF;
        padding-left: 23px;
        background-color: #0065FC;
        padding-right: 23px;
        padding-top: 20px;
        padding-bottom: 22px;
        border-radius: 0px 15px 15px 0px;
    }
     
     
}


/* -----------------------------------Section Herbergements--------------------------------- */

.TEST
{
    display: flex; 
    flex-wrap: wrap; 

}


.HEBERG
{
    display: flex; 
    flex-wrap: wrap;   
    
}


.hebergement
{
    background-color:  #F2F2F2;
    padding: 20px;
    border-radius: 20px;
    width: 735px; 
    display: flex; 
    flex-wrap: wrap;
    margin: 0px 40px 20px 0px;
 
}



.colorB
{
    color: #0065FC;
    font-size: 12px;   


}

.colorG
{
    color: #F2F2F2;
    font-size: 12px;   


}

.H
{
    width: 81%;
    padding-left: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
}
 
.A
{
    width: 81%;
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}



.image4
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image5
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image6
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image7
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image8
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
    
}

.image9
{
    height: 100px;
    width: 200px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 6px 60px 6px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.etoile-H
{
    position: absolute;
    margin: 110px 0px 0px 25px;
}

.etoile-H p
{
    font-size: 0.85em;
    margin-bottom: 2px;
    width: 400px;
}


@media screen and (max-width:768px)
{


    .hebergement
    {
        background-color:  #F2F2F2;
        padding: 20px;
        border-radius: 20px;
        width: 650px; 
        display: flex; 
        flex-wrap: wrap;
        margin: 0px 20px 20px 0px;
 
    }

        .colorB
    {
        color: #0065FC;
        font-size: 24px;   


    }

        .colorG
    {
        color: #F2F2F2;
        font-size: 24px;   


    }

        .H
    {
        width: 81%;
        padding-left: 20px;
        margin-bottom: 1px;
        margin-top: 1px;
        font-size: 1.90em;
    }

    .image4 
    {
        height: 230px;
        width: 600px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 8px 8px 118px 8px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }

    .image5 
    {
        height: 230px;
        width: 600px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 8px 8px 118px 8px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    .image6
    {
        height: 230px;
        width: 600px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 8px 8px 118px 8px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }

    .image7
    {
        height: 230px;
        width: 600px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 8px 8px 118px 8px; 
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }

    .image8 
    {
        height: 230px;
        width: 600px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 8px 8px 118px 8px; 
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    .image9
    {
        height: 230px;
        width: 600px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 8px 8px 118px 8px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    .etoile-H
{
    position: absolute;
    margin: 233px 0px 0px 25px;
}

    .etoile-H p
    {
        font-size: 1.7em;
        margin-bottom: 13px;

    }

}


/* -----------------------------------Section Populaire--------------------------------- */


.POP
{ 
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    width: 310px; 
    height: 443px;  
    
}



.LPP
{
    margin-right: 90px;
     margin-bottom: 20px;
     margin-top: 1px;
    float: left;
    
}


.image2
{
    height: 100px; 
    width: 100px;
    margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 200px 6px 6px;  
    box-shadow: 1px 2px 6px rgb(160, 160, 160);
    object-fit: cover;
}

.image3
{
   height: 100px; 
   width: 100px;
   margin-bottom: 20px;
   border-radius: 20px 20px 20px 20px;
   background-color: #FFFFFF;
   padding: 6px 200px 6px 6px;   
   box-shadow: 1px 2px 6px rgb(190, 190, 190);
   object-fit: cover;
}


.image1
{
    
    height: 100px;
    width: 100px;
   margin-bottom: 20px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 6px 200px 6px 6px;   
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;    
}

.etoiles1
{
    margin: 15px 0px 0px 120px;
    float: right;
    text-align: justify;
    position: absolute;

}

.etoiles p
{
    margin-top: 7px;
    font-size: 14px;
    margin-bottom: 30px;
    width: 300px;
}

.etoiles1 p
{
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 30px;
    width: 300px;
}


.etoiles
{
    margin: 0px 10px 0px 120px;

    float: right;
    text-align: justify;
    position: absolute;

}

.etoiles i
{
 margin: 0px 0px 0px 0px;

}

.colorN
{
    font-size: 15px;

}

@media screen and (max-width:768px)
{

    .POP
    { 
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 20px;
        width: 650px; 
        height: 950px;  
        
    }

    .image2
    {
        height: 250px; 
        width: 250px;
        margin-bottom: 20px;
        margin-left:15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 8px 360px 8px 8px;
        box-shadow: 1px 2px 6px rgb(160, 160, 160);
        object-fit: cover;
    }
    
    .image3
    {
       height: 250px; 
       width: 250px;
       margin-bottom: 20px;
       margin-left:15px;
       border-radius: 20px 20px 20px 20px;
       background-color: #FFFFFF;
       padding: 8px 360px 8px 8px;
       box-shadow: 1px 2px 6px rgb(190, 190, 190);
       object-fit: cover;
    }
    
    
    .image1
    {
        
        height: 250px;
        width: 250px;
       margin-bottom: 20px;
       margin-left:15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 8px 360px 8px 8px; 
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;    
    }

        .etoiles1
    {
        margin: 20px 0px 0px 290px;
        float: right;
        text-align: justify;
        position: absolute;
    }    

    .etoiles
    {
        margin: 5px 0px 0px 290px;
        float: right;
        text-align: justify;
        position: absolute;
    }  
    .LPP 
    {
        margin-right: 300px;
        margin-left: 10px;
        margin-bottom: 20px;
        margin-top: 1px;
        float: left;
        font-size: 1.9em;
    }

    .colorN
    {
        font-size: 25px;

    }

    .etoiles1 p 
    {
        margin-top: 27px;
        font-size: 27px;
        margin-bottom: 95px;
    }

    .etoiles p 
    {
        margin-top: 7px;
        font-size: 27px;
        margin-bottom: 95px;
    }

}




/* -----------------------------------Section Activites------------------------------------- */
.ActiviteMarseille
{
    display: flex; 
    flex-wrap: wrap;

}

.Activites
{
    
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 1200px; 
    display: flex; 
    flex-wrap: wrap;
    margin: 0px 50px 20px 0px;
     
}

.AC
{

    width: 90%;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 1px;
    font-size: 1.17em;
}


.intituler10
{
position: absolute;
margin: 345px 0px 0px 25px;
}

.intituler11
{
position: absolute;
margin: 160px 0px 0px 25px;
}
.intituler12
{
position: absolute;
margin: 110px 0px 0px 25px;
}
.intituler13
{
position: absolute;
margin: 345px 0px 0px 25px;
}

.intituler14
{
position: absolute;
margin: 160px 0px 0px 25px;
}
.intituler15
{
position: absolute;
margin: 110px 0px 0px 25px;
}
.image10
{
    height: 335px;
    width: 260px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image11
{
    height: 150px;
    width: 260px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image12
{
    height: 100px;
    width: 260px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image13
{
    height: 335px;
    width: 260px;
    margin: 15px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image14
{
    height: 150px;
    width: 260px;
    margin: 15px;
    margin-right: 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.image15
{
    height: 100px;
    width: 260px;
    margin: 15px;
    margin-right: 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFFF;
    padding: 0px 0px 50px 0px;  
    box-shadow: 1px 2px 6px rgb(190, 190, 190);
    object-fit: cover;
}

.dim
{
font-size: 13px;

}

@media screen and (max-width:768px)
{

    .AC
    {
    
        
        font-size: 1.9em;
    }

    
    .image10
    {
        height: 220px;
        width: 650px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 0px 0px 80px 0px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    
    .image11
    {
        height: 220px;
        width: 650px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 0px 0px 80px 0px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    
    .image12
    {
        height: 220px;
        width: 650px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 0px 0px 80px 0px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    
    .image13
    {
        height: 220px;
        width: 650px;
        margin: 15px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 0px 0px 80px 0px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    
    .image14
    {
        height: 220px;
        width: 650px;
        margin: 15px;
        margin-right: 0px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 0px 0px 80px 0px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }
    
    .image15
    {
        height: 220px;
        width: 650px;
        margin: 15px;
        margin-right: 0px;
        border-radius: 20px 20px 20px 20px;
        background-color: #FFFFFF;
        padding: 0px 0px 80px 0px;  
        box-shadow: 1px 2px 6px rgb(190, 190, 190);
        object-fit: cover;
    }

    .intituler10
    {
    position: absolute;
    margin: 225px 0px 0px 30px;
    
    }
    
    .intituler11
    {
    position: absolute;
    margin: 225px 0px 0px 30px;
    }
    .intituler12
    {
    position: absolute;
    margin: 225px 0px 0px 30px;
    }
    .intituler13
    {
    position: absolute;
    margin: 225px 0px 0px 30px;
    }
    
    .intituler14
    {
    position: absolute;
    margin: 225px 0px 0px 30px;
    }
    .intituler15
    {
    position: absolute;
    margin: 225px 0px 0px 30px;
    }
        
    .dim
    {
        font-size: 22px;

    }


}

/* ------------------------------------Footer------------------------------------------------ */

.Footer
{
    background-color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 1200px;
}

.Inti1
{
    padding-left: 20px;

}


.Inti
{
    padding-left: 200px;

}

.Footer p
{
    font-size: 0.8em;

}

@media screen and (max-width:768px)
{

    .Inti
    {
        padding-left: 20px;
        width: 80%;
    }
    .Footer
    {
        width: 640px;
        height: 700px;
        padding-right:30px;
    }

    .Footer p
    {
        font-size: 1.2em;
    
    }
    

}






/*----------------END---------------*/